<nav class="navbar bg-dark border-bottom border-body bar d-flex justify-content-center align-items-center" data-bs-theme="dark">
  
    <h6 class="navbar-brand" href="#">Por: Marcelo Olimpio &copy; 2024</h6>
 
</nav>